body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #333;
}

header {
    background: #424242;
    color: white;
    text-align: center;
    padding: 20px;
}

header a {
    color: #FFC107;
    text-decoration: none;
}

#timeline, #projects {
    margin: 40px auto;
    width: 80%;
    padding: 20px;
    position: relative;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

.timeline-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.timeline-left, .timeline-right {
    width: 45%;
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #4CAF50;
    transform: translateX(-50%);
}

.timeline-item {
    margin: 20px 0;
    padding: 10px 0;
    color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
}

.timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.timeline-item.hidden {
    opacity: 0;
    transform: translateY(-50px);
}

#projects ul {
    list-style: none;
    color: #ffffff;
    padding: 0;
}

#projects li {
    margin: 20px 0;
    
}

#projects a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #4CAF50;
    color: white;
}
